<h2>Title Home</h2>
<p>
  Media queries are commonly used in responsive designs in order to display a different layout to different devices, depending on their screen size. The reason for this is that certain layouts will always look too squashed (or even completely broken) when viewed on narrower screens.

  For example, you can use media queries to display layout 1 to wide screens (desktops, laptops, etc), layout 2 to medium sized screens (tablets, large phones), and layout 3 to narrow screens (mobile phones, etc).

  Here, we'll take the layout that we created previously, and add a media query to it so that it displays differently on smaller devices/viewports.
</p>
<p>
  Media queries are commonly used in responsive designs in order to display a different layout to different devices, depending on their screen size. The reason for this is that certain layouts will always look too squashed (or even completely broken) when viewed on narrower screens.

  For example, you can use media queries to display layout 1 to wide screens (desktops, laptops, etc), layout 2 to medium sized screens (tablets, large phones), and layout 3 to narrow screens (mobile phones, etc).

  Here, we'll take the layout that we created previously, and add a media query to it so that it displays differently on smaller devices/viewports.
</p>
<p>
  Media queries are commonly used in responsive designs in order to display a different layout to different devices, depending on their screen size. The reason for this is that certain layouts will always look too squashed (or even completely broken) when viewed on narrower screens.

  For example, you can use media queries to display layout 1 to wide screens (desktops, laptops, etc), layout 2 to medium sized screens (tablets, large phones), and layout 3 to narrow screens (mobile phones, etc).

  Here, we'll take the layout that we created previously, and add a media query to it so that it displays differently on smaller devices/viewports.
</p>
<p>
  Media queries are commonly used in responsive designs in order to display a different layout to different devices, depending on their screen size. The reason for this is that certain layouts will always look too squashed (or even completely broken) when viewed on narrower screens.

  For example, you can use media queries to display layout 1 to wide screens (desktops, laptops, etc), layout 2 to medium sized screens (tablets, large phones), and layout 3 to narrow screens (mobile phones, etc).

  Here, we'll take the layout that we created previously, and add a media query to it so that it displays differently on smaller devices/viewports.
</p>
